<h4 class="titre">Frais initiés par le contentieux</h4>
<p class="link"><img src="../../assets/maison.png">&nbsp;&nbsp;/&nbsp;&nbsp;frais&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;PEC des frais initiés par le contentieux</p>
<app-recherche 
  (debiteurDataChange)="onDebiteurDataReceived($event)"
  (risques)="onRisquesReceived($event)"
  (numCTX)="onNumCtxReceived($event)">
</app-recherche>

<app-affichage-debiteur [debiteurData]="debiteurData" *ngIf="debiteurData"></app-affichage-debiteur>

<app-affichage-risque [risquesData]="risquesData" [isintiesComponent]="isintiesComponent" [debiteurData]="debiteurData" [numCtx]="numCtx" *ngIf="risquesData"></app-affichage-risque>
