<h4 class="titre">Ristourne agence </h4>
<p class="link"><img src="../../assets/maison.png">&nbsp;&nbsp;/&nbsp;&nbsp;recouvrement&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;ristourne agence</p>
<app-recherche 
    (debiteurDataChange)="onDebiteurDataReceived($event)"
    (risques)="onRisquesReceived($event)"
    (numCTX)="onNumCtxReceived($event)">
</app-recherche>

<app-affichage-debiteur [debiteurData]="debiteurData" *ngIf="debiteurData"></app-affichage-debiteur>
<button class="btnRegister"  *ngIf="debiteurData && !debiteurData.etat_CTX==false" (click)="ristourne()">Ristourne Agence</button>
<ng-container *ngIf="(debiteurData?.soldeRecouvrement==0 || !allRisquesClotures()) && clicked">
    <p style="color: rgb(247, 72, 72); text-align: center ;">Solde recouvrement est déja égale 0 DTN ou il y'a un risque non cloturé!</p>
</ng-container>