<h4 class="titre">Gérer agent</h4>
<p class="link"><img src="../../assets/maison.png">&nbsp;&nbsp;/&nbsp;&nbsp;Gérer utilisateur&nbsp;&nbsp;/&nbsp;&nbsp;Gérer agent</p>
<div class="container">
    <h4 class="register-heading"> Gérer agent<img src="../../assets/gerer_client.png" style="width: 38px;margin-right: 5px;height: auto;float:right; "></h4>
    <hr style="border-color: #17a191;">
    <div class="selecting">
        <label class="labelGenerale">Choisir l'action:</label>
        <select [(ngModel)]="Action" class="form-control input-with-arrow">
            <option value="ajouter">Ajouter agent</option>
            <option value="modifier">Modifier agent</option>
            <option value="supprimer">Supprimer agent</option>
            <option value="consulter">Consulter agent</option>
        </select>
    </div>
    <app-user-form *ngIf="Action=='ajouter'"></app-user-form>
</div>
