.container {
    background: #f8f9fa;
    padding: 20px;
    border-radius: 0 0 10px 10px;
    width: 90%;
    border-top:2px solid #17a191 ;
    margin-bottom: 20px ;
}
.button{
    background-color: #17a191;
    border: none;
    color: #fff;
    border-radius: 0 10px 10px 0;
    font-weight: 600;
    padding: 3px 0 3px 0;
    width: 110px;
    
}

.search-text{
    font-weight: 700;
    color: #17a191;
    
}
.text{
    border: 1px solid #17a191;
    border-radius: 5px 0 0 5px;
    padding-left: 42px ;
    width: 200px;
    padding-right: 15px;
}
input.text:focus{
    border:2px solid #89E7D9 ;
    border-right: none;
    outline: none;
}
form{
    display: flex;
    flex-wrap: wrap;
    
}
.titre{
    margin-right:10px ;
    padding-top: 5px;
    color: #8d8d8d;
    font-weight: 500;
}
.searchBar{
    display: flex;
    flex-wrap: nowrap;
}

