<h4 class="titre">Frais jugement</h4>
<p class="link"><img src="../../assets/maison.png">&nbsp;&nbsp;/&nbsp;&nbsp;frais&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;frais jugement</p>
<app-recherche 
  (debiteurDataChange)="onDebiteurDataReceived($event)"
  (risques)="onRisquesReceived($event)"
  (numCTX)="onNumCtxReceived($event)">
</app-recherche>

<app-affichage-debiteur [debiteurData]="debiteurData" *ngIf="debiteurData"></app-affichage-debiteur>

<app-affichage-risque [risquesData]="risquesData" [isDebiteurComponent]="isDebiteurComponent" [debiteurData]="debiteurData" [numCtx]="numCtx" *ngIf="risquesData && debiteurData?.etat_CTX==true"></app-affichage-risque>
