<div class="container" *ngIf="typeOperation === '120' || typeOperation === '130' || typeOperation === '110' || typeOperation === '210' || typeOperation === '220' || typeOperation === '230'">
    <p class="title">Type Operation:&nbsp;&nbsp;<span style="color: #5b6462;font-size: larger;">{{typeOperation}}</span>
    <hr style="color: #17a191;">
    <!-- type 110 -->
    <div *ngIf="typeOperation==='110'">
        <div class="selecting">
            <label class="labelGenerale">Type frais:</label>
            <select [(ngModel)]="fraisType" class="form-select">
                <option value="Timbrage">Timbrage</option>
                <option value="Enregistrement">Enregistrement</option>
                <option value="Divers">Divers</option>
            </select>
        </div>
        <app-shared-table *ngIf="operations && fraisType==='Timbrage'" [dataSource]="dataSourceTimInities" (rowClicked)="handleRowClick($event)"  [displayedColumns]="timbrageColumnsCtx" title="Frais Timbrage:"></app-shared-table>
        <app-shared-table *ngIf="operations && fraisType==='Enregistrement'" [dataSource]="dataSourceEnrInities" (rowClicked)="handleRowClick($event)"  [displayedColumns]="enregistrementColumnsCtx" title="Frais Enregistrement:"></app-shared-table>
        <app-shared-table *ngIf="operations && fraisType==='Divers'" [dataSource]="dataSourceDiverInities" (rowClicked)="handleRowClick($event)"  [displayedColumns]="timbrageColumnsCtx" title="Frais Divers:"></app-shared-table>

    </div>
    <!-- type 120 -->
    <div *ngIf="typeOperation==='120'" >
        <div class="selecting">
            <label class="labelGenerale">Type frais:</label>
            <select [(ngModel)]="fraisType" class="form-select">
                <option value="Auxiliaire">Auxiliaire</option>
                <option value="Timbrage">Timbrage</option>
                <option value="Enregistrement">Enregistrement</option>
                <option value="Divers">Divers</option>
            </select>
        </div>
        <app-shared-table *ngIf="operations && fraisType==='Auxiliaire'" (rowClicked)="handleRowClick($event)" [dataSource]="dataSourceAux" [displayedColumns]="auxiliaireColumns" title="Frais Auxiliaire:"></app-shared-table>
        <app-shared-table *ngIf="operations && fraisType==='Timbrage'" (rowClicked)="handleRowClick($event)"  [dataSource]="dataSourceTim" [displayedColumns]="timbrageColumns" title="Frais Timbrage:"></app-shared-table>
        <app-shared-table *ngIf="operations && fraisType==='Enregistrement'" (rowClicked)="handleRowClick($event)"  [dataSource]="dataSourceEnr" [displayedColumns]="enregistrementColumns" title="Frais Enregistrement:"></app-shared-table>
        <app-shared-table *ngIf="operations && fraisType==='Divers'" (rowClicked)="handleRowClick($event)" [dataSource]="dataSourceDiver" [displayedColumns]="timbrageColumns" title="Frais Divers:"></app-shared-table>

    </div>
    <!-- type 130 -->
    <div *ngIf="typeOperation==='130'">
        <app-shared-table *ngIf="operations" [dataSource]="dataSourceJuge" [displayedColumns]="jugementColumns" (rowClicked)="handleRowClick($event)"  title="Frais Jugement:"></app-shared-table>
    </div>
    <!-- type 210 -->
    <div *ngIf="typeOperation==='210'">
        <app-shared-table *ngIf="operations" [dataSource]="dataSourceCheque" [displayedColumns]="chequeColumns" (rowClicked)="handleRowClick($event)"  title="Recouvrement chèque:"></app-shared-table>
    </div>
    <!-- type 220 -->
    <div *ngIf="typeOperation==='220'">
        <app-shared-table *ngIf="operations" [dataSource]="dataSourceVirement" [displayedColumns]="virementColumns" (rowClicked)="handleRowClick($event)"  title="Recouvrement virement télécompensé:"></app-shared-table>
    </div>
    <!-- type 230 -->
    <div *ngIf="typeOperation==='230'">
        <app-shared-table *ngIf="operations" [dataSource]="dataSourceAffectation" [displayedColumns]="affectationColumns" (rowClicked)="handleRowClick($event)"  title="Recouvrement en principal:"></app-shared-table>
    </div>
</div>
<div class="modal fade" id="modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel" style="color: #6C7878;"><img src="../../assets/consultaion_modal.png" style="width: 40px;margin-right: 5px;"> Consultation :</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div *ngIf="selectedOperation">
                    <div *ngIf="selectedOperation.typeOperation?.libelleOperation === '110'" style="display: flex; justify-content: space-around;">
                        <div>
                            <p><span style="color: #00A17D; font-weight: bold;">Dossier débiteur:</span> &nbsp;{{selectedOperation.dossierDebiteur?.dossierId?.numCtx}}</p>
                            <p><span style="color: #00A17D; font-weight: bold;">Montant frais:</span>&nbsp; {{selectedOperation.mntFrais}} TND</p>
                            <p><span style="color: #00A17D; font-weight: bold;">Type frais:</span>&nbsp; {{selectedOperation.typeFrais}}</p>
                            <p><span style="color: #00A17D; font-weight: bold;">Type Pièce:</span>&nbsp; {{selectedOperation.typePiece}}</p>
                            <p *ngIf="selectedOperation.typeFrais === 'Enrgistrement'"><span style="color: #00A17D; font-weight: bold;">Numéro Pièce:</span>&nbsp; {{selectedOperation.numeroPiece}}</p>
                            <p><span style="color: #00A17D; font-weight: bold;">Matricule Employé:</span>&nbsp; {{selectedOperation.matriculeEmploye}}</p>
                            <p><span style="color: #00A17D; font-weight: bold;">Date d'exécution d'opération:</span>&nbsp; {{selectedOperation.dateValeurCTX}}</p>
                        </div>
                        <div>
                            <p><span style="color: #00A17D; font-weight: bold;">Gestionnaire:</span> &nbsp;{{selectedOperation.matriculeAjout}}</p>
                            <p><span style="color: #00A17D; font-weight: bold;">Date création:</span> &nbsp;{{selectedOperation.dateAjout}}</p>
                            <p *ngIf="selectedOperation.etatOperation !== 'E'"><span style="color: #00A17D; font-weight: bold;">Validateur:</span>&nbsp; {{selectedOperation.matriculeValidateur}}</p>
                            <p *ngIf="selectedOperation.etatOperation !== 'E'"><span style="color: #00A17D; font-weight: bold;">Date validation:</span>&nbsp; {{selectedOperation.dateValidation}}</p>
                            <p><span style="color: #00A17D; font-weight: bold;">Date operation:</span> &nbsp;{{selectedOperation.dateOperation}}</p>
                        </div>
                    </div>
                    




                    <div *ngIf="selectedOperation.typeOperation?.libelleOperation === '120'" style="display: flex; justify-content: space-around;">
                        <div *ngIf="selectedOperation.typeFrais!='Auxiliaire'">
                            <p><span style="color: #00A17D; font-weight: bold;">Montant frais:</span>&nbsp; {{selectedOperation.mntFrais}} TND</p>
                            <p><span style="color: #00A17D; font-weight: bold;">Type frais:</span> &nbsp;{{selectedOperation.typeFrais}}</p>
                            <p><span style="color: #00A17D; font-weight: bold;">Type Pièce:</span>&nbsp; {{selectedOperation.typePiece}}</p>
                            <p *ngIf="selectedOperation.typeFrais === 'Enrgistrement'"><span style="color: #00A17D; font-weight: bold;">Numéro Pièce:</span> &nbsp;{{selectedOperation.numeroPiece}}</p>
                            <p><span style="color: #00A17D; font-weight: bold;">Date d'exécution d'opération:</span>&nbsp; {{selectedOperation.dateValeurCTX}}</p>
                        </div>
                        <div *ngIf="selectedOperation.typeFrais === 'Auxiliaire'">
                            <p><span style="color: #00A17D; font-weight: bold;">Type frais:</span> &nbsp;{{selectedOperation.typeFrais}}</p>
                            <p><span style="color: #00A17D; font-weight: bold;">Montant frais:</span>&nbsp; {{selectedOperation.mntFrais}} TND</p>
                            <p><span style="color: #00A17D; font-weight: bold;">Type Auxiliaire:</span>&nbsp; {{selectedOperation.typeAuxiliaire}}</p>
                            <p><span style="color: #00A17D; font-weight: bold;">Nature Auxiliaire:</span>&nbsp; {{selectedOperation.natureAuxiliaire}}</p>
                            <p *ngIf="selectedOperation.natureAuxiliaire=='Conventionné'" > <span style="color: #00A17D; font-weight: bold;">Auxiliaire:</span>&nbsp; {{selectedOperation.auxiliaire}}</p>
                            <p *ngIf="selectedOperation.natureAuxiliaire!='Conventionné'"><span style="color: #00A17D; font-weight: bold;">Nom Auxiliaire:</span>&nbsp; {{selectedOperation.nomAuxiliaire}}</p>
                            <p *ngIf="selectedOperation.natureAuxiliaire!='Conventionné'"><span style="color: #00A17D; font-weight: bold;">Prenom Auxiliaire:</span> &nbsp;{{selectedOperation.prenomAuxiliaire}}</p>
                            <p *ngIf="selectedOperation.natureAuxiliaire!='Conventionné'"><span style="color: #00A17D; font-weight: bold;">Cin Auxiliaire:</span> &nbsp;{{selectedOperation.cinAuxiliaire}}</p>
                            <p *ngIf="selectedOperation.natureAuxiliaire!='Conventionné'"><span style="color: #00A17D; font-weight: bold;">Rne Auxiliaire:</span>&nbsp; {{selectedOperation.rneAuxiliaire}}</p>
                            <p><span style="color: #00A17D; font-weight: bold;">Montant Honoraire:</span>&nbsp; {{selectedOperation.mntHonoraire}} TND</p>
                            <p><span style="color: #00A17D; font-weight: bold;">Date d'exécution d'opération:</span>&nbsp; {{selectedOperation.dateValeurCTX}}</p>
                        </div>
                        <div>
                            <!-- <p><span style="color: #00A17D; font-weight: bold;">Montant operation:</span> {{selectedOperation.mntOperation}}</p> -->
                            
                            <p><span style="color: #00A17D; font-weight: bold;">Date operation:</span> &nbsp;{{selectedOperation.dateOperation}}</p>
                            <p><span style="color: #00A17D; font-weight: bold;">Gestionnaire:</span> &nbsp;{{selectedOperation.matriculeAjout}}</p>
                            <p><span style="color: #00A17D; font-weight: bold;">Date création:</span> &nbsp;{{selectedOperation.dateAjout}}</p>
                            <p *ngIf="selectedOperation.etatOperation !== 'E'"><span style="color: #00A17D; font-weight: bold;">Validateur:</span>&nbsp; {{selectedOperation.matriculeValidateur}}</p>
                            <p *ngIf="selectedOperation.etatOperation !== 'E'"><span style="color: #00A17D; font-weight: bold;">Date validation:</span> &nbsp;{{selectedOperation.dateValidation}}</p>
                        </div>

                    </div>
                    




                    <div *ngIf="selectedOperation.typeOperation?.libelleOperation === '130'" style="display: flex; justify-content: space-around;">
                        
                            <div>
                            <p><span style="color: #00A17D; font-weight: bold;">Dossier débiteur:</span>&nbsp; {{selectedOperation.dossierDebiteur?.dossierId?.numCtx}}</p>
                            <!-- <p><span style="color: #00A17D; font-weight: bold;">Montant operation:</span> {{selectedOperation.mntOperation}}</p> -->
                            <p><span style="color: #00A17D; font-weight: bold;">Montant frais:</span>&nbsp; {{selectedOperation.mntFrais}} TND</p>
                            <p><span style="color: #00A17D; font-weight: bold;">Type frais:</span>&nbsp; Jugement</p>
                            <p><span style="color: #00A17D; font-weight: bold;">Numéro rouge:</span> &nbsp;{{selectedOperation.motifOperationCTX}}</p>
                            <p><span style="color: #00A17D; font-weight: bold;">Recette Finance:</span>&nbsp; {{selectedOperation.nomBeneficiairePaiment}}</p>
                            <p><span style="color: #00A17D; font-weight: bold;">Numéro d'affaire:</span> &nbsp;{{selectedOperation.numAffaireCTX}}</p>
                            <p><span style="color: #00A17D; font-weight: bold;">Date d'exécution d'opération:</span>&nbsp; {{selectedOperation.dateValeurCTX}}</p>
                        </div>
                        <div>
                            <p><span style="color: #00A17D; font-weight: bold;">Date création:</span> &nbsp;{{selectedOperation.dateAjout}}</p>
                            <p><span style="color: #00A17D; font-weight: bold;">Date d'exécution d'opération:</span> {{selectedOperation.dateValeurCTX}}</p>
                            <p><span style="color: #00A17D; font-weight: bold;">Gestionnaire:</span> &nbsp;{{selectedOperation.matriculeAjout}}</p>
                            <p *ngIf="selectedOperation.etatOperation !== 'E'"><span style="color: #00A17D; font-weight: bold;">Validateur:</span>&nbsp; {{selectedOperation.matriculeValidateur}}</p>
                            <p *ngIf="selectedOperation.etatOperation !== 'E'"><span style="color: #00A17D; font-weight: bold;">Date validation:</span> &nbsp;{{selectedOperation.dateValidation}}</p>
                            <p><span style="color: #00A17D; font-weight: bold;">Date operation:</span> &nbsp;{{selectedOperation.dateOperation}}</p>
                            </div>
                    </div>
                    
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>