<div class="background">
    <nav id="navBar">
        <img src="../../assets/BnaLogo.png" id="BnaLogo" alt="BNA Logo">
        <ul class="nav-links">

                <div class="dropdown">
                    <button class="dropbtn">Connexion</button>
                    <div class="dropdown-content">
                        <a href="login_client">Client</a>
                        <a href="login">Agent BNA</a>
                    </div>
                </div>

        </ul>
    </nav>
    <img src="../../assets/contentieuxBG.png" class="centered-image" alt="Contentieux Background" title="contentieux">
    <div class="content">
        <div class="line" id="welcome">
            <div class="left">
                <img src="../../assets/ContentieuxBNA.jpg" class="floating-image" alt="Contentieux BNA">
            </div>
            <div class="right">
                <div class="welcome-text">
                    <h2>Bienvenue sur le portail de gestion des contentieux de la BNA</h2>
                    <p>
                        Nous vous souhaitons la bienvenue sur notre site dédié à la gestion des contentieux bancaires. À la BNA, nous comprenons que des litiges peuvent survenir et nous sommes ici pour vous aider à les résoudre de manière rapide et efficace.
                    </p>
                </div>
            </div>
        </div>
        <div class="info-section" id="info">
            <h3>Pourquoi choisir la BNA ?</h3>
            <ul>
                <li><strong>Expertise et Professionnalisme :</strong> Notre équipe d'experts est à votre disposition pour vous fournir des solutions adaptées à vos besoins spécifiques.</li>
                <li><strong>Confidentialité Assurée :</strong> Nous traitons vos informations avec la plus grande confidentialité et respectons les normes les plus strictes en matière de protection des données.</li>
                <li><strong>Service Personnalisé :</strong> Chaque dossier est unique. Nous vous offrons une approche personnalisée pour chaque situation.</li>
            </ul>
            <p>Merci de faire confiance à la BNA pour la gestion de vos contentieux bancaires. Nous sommes là pour vous accompagner à chaque étape.</p>
        </div>
    </div>
</div>
