.container {
    background: #f8f9fa;
    padding: 20px;
    border-radius: 0 0 10px 10px;
    width: 90%;
    border-top:2px solid #17a191 ;
    margin-bottom: 20px ;
}
.title{
    font-weight: 700;
    font-size: large;
    color: #17a191;
}
.mat-mdc-row .mat-mdc-cell {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    cursor: pointer;
  }
.mat-mdc-row:hover .mat-mdc-cell {
    border-color: #17a191;
   
  }
  .pdf {
    float: right;
    background-color: rgb(255, 56, 56);
    height: 30px;
    width: 28px;
    border-radius: 5px;
    cursor: pointer;
    display: flex; /* Use flexbox */
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
  }
  
  .pdf:hover {
    background-color: rgb(255, 145, 145);
  }
  
  .pdf-img {
    height: 20px;
    width: auto;
  }
  