<div class="container">
    <p class="title">{{ title }}</p>
    <hr style="color: #17a191;">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event)" placeholder="Filtrer">
    </mat-form-field>
    <div class="pdf" (click)="exportAsPDF()">
      <img src="../../assets/pdf-icon.png" class="pdf-img" alt="Télécharger comme PDF" title="Télécharger comme PDF">
    </div>
    
    <div class="table-container">
      <table mat-table [dataSource]="dataSource" matSort>
        
        <!-- Définition des colonnes -->
        <ng-container *ngFor="let col of displayedColumns" [matColumnDef]="col">
          <ng-container *ngIf="col!='mntFrais'&& col!='soldePincipaleRisque' && col!='mntEntreePrincipale' && col!='numero_dossier' && col!='etat_Ctx' && col!='solde_recouvrement' && col!='date_Transfert' && col!='prenom' && col!='numAffaireCTX' && col!='dateValeurCTX' && col!='etatOperation' && col!='motifOperationCTX' && col!='typePiece' && col!='matriculeEmploye' && col!='numeroPiece' && col!='typeAuxiliaire' && col!='natureAuxiliaire' && col!='numVirement' && col!='dateOperation' && col!='montantVirement' && col!='ribBeneficiaire' && col!='nomDonneur' && col!='ribDonneur'">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ col }} </th>
          </ng-container>
          <ng-container *ngIf="col=='mntFrais'">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Montant frais </th>
          </ng-container>
          <ng-container *ngIf="col=='soldePrincipaleRisque'">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Solde principale risque </th>
          </ng-container>
          <ng-container *ngIf="col=='mntEntreePrincipale'">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Montant entrée principale </th>
          </ng-container>
          <ng-container *ngIf="col=='numero_dossier'">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Numéro du dossier </th>
          </ng-container>
          <ng-container *ngIf="col=='solde_recouvrement'">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Solde recouvrement </th>
          </ng-container>
          <ng-container *ngIf="col=='etat_Ctx'">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> État du dossier </th>
          </ng-container>
          <ng-container *ngIf="col=='date_Transfert'">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Date de transfert </th>
          </ng-container>
          <ng-container *ngIf="col=='prenom'">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Prénom </th>
          </ng-container>
          <ng-container *ngIf="col=='motifOperationCTX'">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Motif </th>
          </ng-container>
          <ng-container *ngIf="col=='numAffaireCTX'">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Numéro d'affaire </th>
          </ng-container>
          <ng-container *ngIf="col=='dateValeurCTX'">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Date d'exécution </th>
          </ng-container>
          <ng-container *ngIf="col=='etatOperation'">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> État d'opération</th>
          </ng-container>
          <ng-container *ngIf="col=='typePiece'">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Type de pièce</th>
          </ng-container>
          <ng-container *ngIf="col=='matriculeEmploye'">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Matricule de l'employé</th>
          </ng-container>
          <ng-container *ngIf="col=='numeroPiece'">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Numéro de pièce</th>
          </ng-container>
          <ng-container *ngIf="col=='typeAuxiliaire'">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Type de l'auxiliaire</th>
          </ng-container>
          <ng-container *ngIf="col=='natureAuxiliaire'">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Nature de l'auxiliaire</th>
          </ng-container>
          <ng-container *ngIf="col=='numVirement'">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Numéro virement</th>
          </ng-container>
          <ng-container *ngIf="col=='dateOperation'">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Date de l'opération</th>
          </ng-container>
          <ng-container *ngIf="col=='montantVirement'">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Montant de virement</th>
          </ng-container>
          <ng-container *ngIf="col=='ribBeneficiaire'">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> RIB bénéficiaire</th>
          </ng-container>
          <ng-container *ngIf="col=='nomDonneur'">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Nom donneur</th>
          </ng-container>
          <ng-container *ngIf="col=='ribDonneur'">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> RIB donneur</th>
          </ng-container>
          <td mat-cell *matCellDef="let element" (click)="onRowClick(element)">
            <ng-container *ngIf="col === 'etatOperation'">
              <div [ngStyle]="getEtatOperationStyle(element[col])">
                {{ getEtatOperationLabel(element[col]) }}
              </div>
            </ng-container>
            <ng-container *ngIf="col !== 'etatOperation' && col !== 'produit' && col !== 'role'">
              {{ element[col] }}
            </ng-container>
            <ng-container *ngIf="col === 'produit'">
              {{ element.produit?.libelleProduit }}
            </ng-container>
            <ng-container *ngIf="col === 'role'">
              <div [ngStyle]="getRoleStyle(element[col])">
                {{ element[col] }}
              </div>
            </ng-container>
          </td>
        </ng-container>
        
        <!-- Ligne avec les cellules -->
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" 
            (click)="onRowClick(row)"
            [attr.data-bs-toggle]="row.stade !== '4- Cloturé' ? 'modal' : null"
            [attr.data-bs-target]="row.stade !== '4- Cloturé' ? '#modal' : null"></tr>
        
      </table>
    </div>
    
    <!-- Pagination -->
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="5"></mat-paginator>
  </div>
  