<h4 class="titre">PEC des frais généraux (Direction)</h4>
<p class="link"><img src="../../assets/maison.png">&nbsp;&nbsp;/&nbsp;&nbsp;frais&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;PEC des frais généraux (Direction)</p>
<app-recherche 
  (debiteurDataChange)="onDebiteurDataReceived($event)"
  (numCTX)="numCtx($event)">
</app-recherche>
<app-affichage-debiteur [debiteurData]="debiteurData" *ngIf="debiteurData"></app-affichage-debiteur>
<app-ajout-frais-generaux *ngIf="debiteurData && debiteurData.etat_CTX==true" [numDossier]="numDossier"></app-ajout-frais-generaux>
