
    <nav class="navbar navbar-expand px-3 border-bottom" style="display: flex; justify-content: space-between;">

        <div style="display: flex; flex-direction: row;">
            
            <button class="btn" id="sidebar-toggle" type="button" (click)="toggleSidebar()">
                <span *ngIf="isSidebarOpen" class="navbar-toggler-icon"></span>
                <svg *ngIf="!isSidebarOpen" xmlns="http://www.w3.org/2000/svg" width="24" height="16" fill="currentColor" class="bi bi-unindent" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M13 8a.5.5 0 0 0-.5-.5H5.707l2.147-2.146a.5.5 0 1 0-.708-.708l-3 3a.5.5 0 0 0 0 .708l3 3a.5.5 0 0 0 .708-.708L5.707 8.5H12.5A.5.5 0 0 0 13 8"/>
                    <path fill-rule="evenodd" d="M3.5 4a.5.5 0 0 0-.5.5v7a.5.5 0 0 0 1 0v-7a.5.5 0 0 0-.5-.5"/>
                </svg>
            </button>
            <p style="margin-bottom: 0; display: flex;flex-direction: column;justify-content: center; margin-left:30px;border-radius: 10px; color: rgba(10, 135, 54, 0.92); border: 1px solid green;padding: 0 5px 0 5px;">{{ currentDate }}</p>
        </div>

        <div style="padding-left: 50px;">
            <img src="./assets/logo_bna.png" alt="BNA Logo">
        </div>

        <div style="display: flex; flex-direction: row; justify-content: space-between; width: 150px; margin-right: 3px;">
            <div class="journal" title="Terminer la journée" (click)="passeJournee()"><img src="../../assets/terminerJour.png" style="width:25px; "></div>
            <app-app-notification-button title="notification" style="display: flex; flex-direction: column; justify-content: center; margin-bottom: 6px;" (click)="toggleNotif()" *ngIf="!isGestionnairePage()"></app-app-notification-button>
            <img src="./assets/user.png" class="userlogo" alt="Compte" title="Compte" (click)="toggleUser()">
        </div>
    </nav>
