<nav class="navbar">
    <div class="user">
        <p>username: {{username}}</p>
        <p>matricule: {{matricule}}</p>
    </div>
    <img src="./assets/download.png" class="logo">
</nav>



    <button mat-icon-button (click)="isCollapsed = !isCollapsed" [ngClass]="!isCollapsed ? 'expanded' : ''">
  
    </button>
    
    
        <div class="module" (click)="toggleModule('frais')">
          <h3>frais</h3>
  
            <li>Element 1</li>
            <li>Element 2</li>
            <li>Element 3</li>
         
        </div>
        <div class="module" (click)="toggleModule('remboursement')">
          <h3>remboursement</h3>
        
            <li>Element 1</li>
            <li>Element 2</li>
            <li>Element 3</li>
      
        </div>

 
    <ng-content></ng-content>
