table {
 
    align-self: center;
    width: 100%;
   }
  .button{
    background-color: #17a191;
    border-radius: 10px;
    color: #fff;
    border: none;
  }
  .button:hover{
    background-color: #89E7D9;
  }
  td,th{
    text-align: center;
  }
  