<table class="table" >
    <thead>
      <tr>
        <th scope="col">Type frais</th>
        <th scope="col">Montant frais</th>
        <th scope="col">Date Operation</th>
        <th scope="col">Afficher plus</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let operation of operations">
        <td>Jugement</td>
        <td>{{ operation.mntOperation }} DT</td>
        <td>{{ operation.dateValeurCTX }}</td>
        <td>
          <!-- Modal trigger button -->
          <button class="btn button" data-bs-toggle="modal" [attr.data-bs-target]="'#exampleModal' + operation.idOperation">Ouvrir</button>
  
          <!-- Modal -->
          <div class="modal fade" [id]="'exampleModal' + operation.idOperation" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="exampleModalLabel" style="color: #707C7C;"><img src="../../assets/validation.png" style="width: 35px; margin-right: 8px;">Validation Operation</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <div style="display: flex;justify-content: space-around;text-align: left;">
                    <div>
                      <p><span style="color: #17a191; font-weight: bold;">Type frais:</span> Jugement</p>
                      <p><span style="color: #17a191; font-weight: bold;">Numero affaire:</span> {{ operation.numAffaireCTX }}</p>
                      <p><span style="color: #17a191; font-weight: bold;">Numero rouge:</span> {{ operation.motifOperationCTX }}</p>
                      <p><span style="color: #17a191; font-weight: bold;">Recette finance:</span> {{ operation.nomBeneficiairePaiment }}</p>
                      <p><span style="color: #17a191; font-weight: bold;">Date demande jugement:</span> {{ operation.dateValeurCTX }}</p>
                    </div>
                    <div>
                      <p><span style="color: #17a191; font-weight: bold;">Numéro dossier:</span> {{ operation.dossierDebiteur?.dossierId?.numCtx }}</p>
                      <p><span style="color: #17a191; font-weight: bold;">Matricule gestionnaire:</span> {{ operation.matriculeAjout }}</p>
                      <p><span style="color: #17a191; font-weight: bold;">Date creation:</span> {{ operation.dateAjout }}</p>
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="rejeterOperation(operation?.idOperation)">Rejeter</button>
                    <button type="button" class="btn btn-success" data-bs-dismiss="modal" (click)="approuverOperation(operation?.idOperation)">Approuver</button>
                </div>
              </div>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
