<div class="wrapper">
    <aside id="sidebar"  [ngClass]="{ 'collapsed': isSidebarOpen }">
        <p class="module">Modules :</p>
        <ng-container *ngIf="role === 'ROLE_ADMINISTRATEUR'">
            <ul class="sidebar-nav">
                <li>
                    <p [ngClass]="{'sidebar-link':!visibleSubMenus[0],'sidebar-link-clicked':visibleSubMenus[0]}" (click)="toggleSubMenu(0)">Gestion des agents</p>
                    <ul class="sub-menu" *ngIf="isSubMenuVisible(0)">
                        <li routerLink="/ADMINISTRATEUR/Gestion_agent/ajout">Ajouter agent</li>
                        <li>Supprimer agent</li>
                        <li>Modifier agent</li>
                        <li>Rechercher agent</li>
                    </ul>
                </li>
                <li>
                    <p [ngClass]="{'sidebar-link':!visibleSubMenus[1],'sidebar-link-clicked':visibleSubMenus[1]}" (click)="toggleSubMenu(1)">Parent Element 2</p>
                    <ul class="sub-menu" *ngIf="isSubMenuVisible(1)">
                        <li>Sub-Element 1</li>
                        <li>Sub-Element 2</li>
                    </ul>
                </li>
            </ul>
        </ng-container>

        <ng-container *ngIf="role === 'ROLE_VALIDATEUR'">
            <ul class="sidebar-nav">
                <li>
                    <p [ngClass]="{'sidebar-link':!visibleSubMenus[0],'sidebar-link-clicked':visibleSubMenus[0]}" (click)="toggleSubMenu(0)"><img src="./assets/frais.png" style="width: 20px;height: auto;border-radius: 2px;margin-right: 5px;">    Frais</p>
                    <ul class="sub-menu" *ngIf="isSubMenuVisible(0)">
                        <li routerLink="/VALIDATEUR/frais/">Validation des frais initiés par le contentieux</li>
                        <li routerLink="/VALIDATEUR/frais/pec-frais-generaux-direction-validation">Validation des frais generaux (Direction)</li>
                        <li routerLink="/VALIDATEUR/frais/frais-jugement-validation">Validation Frais Enregistrement Jugement</li>
                    </ul>
                </li>
                <li>
                    <p [ngClass]="{'sidebar-link':!visibleSubMenus[1],'sidebar-link-clicked':visibleSubMenus[1]}" (click)="toggleSubMenu(1)"><img src="./assets/Recouvrement.png" style="width: 20px;height: auto;border-radius: 2px;margin-right: 5px;">    Recouvrement</p>
                    <ul class="sub-menu" *ngIf="isSubMenuVisible(1)">
                        <li routerLink="/VALIDATEUR/recouvrement/Cheque-Validation">Validation Cheque</li>
                        <li routerLink="/VALIDATEUR/recouvrement/Virement-Telecompencé">Affectation Virement Télecomponcé</li>
                        <li routerLink="/VALIDATEUR/recouvrement/Affectation">Affectation des recouvrements</li>
                        <li routerLink="/VALIDATEUR/recouvrement/Arrangement">Arrangement</li>
                        <li routerLink="/VALIDATEUR/recouvrement/Cloture-Risque">Cloture Risque</li>
                        <li routerLink="/VALIDATEUR/recouvrement/Cloture-Dossier">Cloture Dossier</li>
                    </ul>
                </li>
                <li>
                    <p [ngClass]="{'sidebar-link':!visibleSubMenus[2],'sidebar-link-clicked':visibleSubMenus[2]}" (click)="toggleSubMenu(2)"> <img src="../../assets/consultation.png" style="width: 20px;height: auto;border-radius: 2px;margin-right: 5px;">    Consultation</p>
                    <ul class="sub-menu" *ngIf="isSubMenuVisible(2)">
                        <li routerLink="/VALIDATEUR/consultation/liste-operations">Liste des operations</li>
                        <li routerLink="/VALIDATEUR/consultation/liste-debiteurs">Liste des debiteurs</li>
                    </ul>
                </li>
            </ul>

        </ng-container>

        <ng-container *ngIf="role === 'ROLE_GESTIONNAIRE'">
            <ul class="sidebar-nav">
                <li>
                    <p [ngClass]="{'sidebar-link':!visibleSubMenus[0],'sidebar-link-clicked':visibleSubMenus[0]}" (click)="toggleSubMenu(0)"><img src="./assets/frais.png" style="width: 20px;height: auto;border-radius: 2px;margin-right: 5px;">    Frais</p>
                    <ul class="sub-menu" *ngIf="isSubMenuVisible(0)">
                        <li routerLink="/GESTIONNAIRE/frais/">PEC des frais initiés par le contentieux</li>
                        <li routerLink="/GESTIONNAIRE/frais/pec-frais-generaux-direction">PEC des frais generaux (Direction)</li>
                        <li routerLink="/GESTIONNAIRE/frais/frais-jugement">Frais Enregistrement Jugement</li>
                    </ul>
                </li>
                <li>
                    <p [ngClass]="{'sidebar-link':!visibleSubMenus[1],'sidebar-link-clicked':visibleSubMenus[1]}" (click)="toggleSubMenu(1)"> <img src="./assets/Recouvrement.png" style="width: 20px;height: auto;border-radius: 2px;margin-right: 5px;">    Recouvrement</p>
                    <ul class="sub-menu" *ngIf="isSubMenuVisible(1)">
                        <li routerLink="/GESTIONNAIRE/recouvrement/PEC-Cheque">PEC Cheque</li>
                        <li routerLink="/GESTIONNAIRE/recouvrement/PEC-Affectation-Principale">PEC Affectation Principale</li>
                        <li routerLink="/GESTIONNAIRE/recouvrement/PEC-Affectation-Ir">PEC Affectation Ir</li>
                        <li routerLink="/GESTIONNAIRE/recouvrement/PEC-Affectation-Ic">PEC Affectation Ic</li>
                        <li routerLink="/GESTIONNAIRE/recouvrement/Arrangement">Arrangement</li>

                    </ul>
                </li>
                <li>
                    <p [ngClass]="{'sidebar-link':!visibleSubMenus[2],'sidebar-link-clicked':visibleSubMenus[2]}" (click)="toggleSubMenu(2)"> <img src="../../assets/consultation.png" style="width: 20px;height: auto;border-radius: 2px;margin-right: 5px;">    Consultation</p>
                    <ul class="sub-menu" *ngIf="isSubMenuVisible(2)">
                        <li routerLink="/GESTIONNAIRE/consultation/liste-operations">Liste des operations</li>
                        <li routerLink="/GESTIONNAIRE/consultation/liste-debiteurs">Liste des debiteurs</li>
                    </ul>
                </li>
            </ul>
        </ng-container>
    </aside>
</div>
