.wrapper {
  display: flex;
  height: calc(100vh - 58px); /* Make the wrapper take up the full viewport height */
  width: 300px;
}

#sidebar {
  flex: 0 0 264px; 
  background: var(--bs-dark);
  transition: margin-left 0.35s ease-in-out; 
  overflow-y: auto; 
  padding: 20px 0 0 0;
  border-radius: 0 10px 10px 0;
  position: relative; 
  
} 

#sidebar.collapsed {
  margin-left: -264px; 
  width: 0;
  
}  

.sidebar-link {
  padding: 0.625rem 1.625rem;
  position: relative;
  display: block;
  font-size: 0.875rem;
  border-radius: 10px;
  font-weight: bold;
  width: 90%;
}  

a {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}  

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  
}  
.sub-menu li:before {
  content: "\2022"; 
  color: #6a6a6a; 
  font-size: 1.2em; 
  margin-right: 10px; 
}

li{
  
  color: #fff;
  margin-bottom: 5px;
}
li:hover{
  color: #17a191;
}

.sub-menu > li:hover{
  color: #89E7D9;
  cursor: pointer;
}  


.sidebar-nav {
  padding-left: 10px;
  
}  


.sidebar-link {
  position: relative; /* Ensure the ::after pseudo-element is positioned relative to the .sidebar-link */
}

.sidebar-link::after {
  content: '\25B6';
  position: absolute;
  right: 1.5rem;
  font-size: 9px;
  padding-top: 5px;

}

.sidebar-link-clicked::after {
  content: '\25BE';
  color: #17a191;
  position: absolute;
  right: 1.2rem;
  font-size: 20px;
}
.sidebar-link-clicked{
  padding: 0.625rem 1.625rem;
  color: #17a191;
  position: relative;
  display: block;
  font-size: 0.875rem;
  border-radius: 10px;
  font-weight: bold;
  width: 90%;
}
.sidebar-link:hover{
  cursor: pointer;
}
.sidebar-link-clicked:hover{
  cursor: pointer;
}
.sub-menu{
  margin-left: 50px;
}
.sub-menu > li{
    margin-bottom: 10px;
}

.module{
  margin: 10px 0 20px 15px;
  color: #8f9396;
  font-weight: bold;
  font-size: medium;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

button{
  color: #17a191;
  border: none;
  background-color: #fff;
  padding: 5px 15px 5px 15px;
  border-radius: 10px;
  font-weight: 500;
}

#sidebar {
  flex: 0 0 264px; 
  background: var(--bs-dark);
  transition: margin-left 0.35s ease-in-out; 
  overflow-y: auto; 
  padding: 20px 0 0 0;
  border-radius: 0 10px 10px 0;
  
  scrollbar-width: thin;
  scrollbar-color: #119c79 #d1d1d100; /* thumb and track color */
}

#sidebar::-webkit-scrollbar {
  width: 5px;
}

#sidebar::-webkit-scrollbar-track {
  background-color: #ffffff00;
}

#sidebar::-webkit-scrollbar-thumb {
  background: #119c79;
  border-radius: 10px;
}
.sidebar-link-client {
  padding: 0.625rem 1.625rem;
  position: relative;
  display: block;
  font-size: 0.875rem;
  border-radius: 10px;
  font-weight: bold;
  width: 90%;
}  
.sidebar-link-client:hover{
  cursor: pointer;
}