<p style="margin-right: 15px; font-weight: 600; color:#707C7C ;">Sélectionner le type de frais :</p>
<select [(ngModel)]="selectedType" class="form-select" style="margin: 5px 0 10px 0;">
  <option value="Auxiliaire">Auxiliaire</option>
  <option value="Enregistrement">Enregistrement</option>
  <option value="Timbrage">Timbrage</option>
  <option value="Divers">Divers</option>
</select>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Type frais</th>
      <th scope="col">Montant frais</th>
      <th scope="col">Date Operation</th>
      <th scope="col">Afficher plus</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let operation of operations">
      <tr *ngIf="operation.typeFrais === selectedType">
        <td>{{ operation.typeFrais }}</td>
        <td>{{ operation.mntOperation }} DT</td>
        <td>{{ operation.dateValeurCTX }}</td>
        <td>
          <button class="btn button" data-bs-toggle="modal" [attr.data-bs-target]="'#exampleModal' + operation.idOperation">Ouvrir</button>
        </td>
      </tr>
    </ng-container>
  </tbody>
</table>

<ng-container *ngFor="let operation of operations">
  <div class="modal fade" [id]="'exampleModal' + operation.idOperation" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel" style="color: #707C7C;"><img src="../../assets/validation.png" style="width: 35px; margin-right: 8px;">Validation Operation</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div style="display: flex; justify-content: space-around;">
            <div>
              <p><span style="color: #17a191; font-weight: bold;">Type frais :</span> {{ operation.typeFrais }}</p>
              <p><span style="color: #17a191; font-weight: bold;">Type de pièce :</span> {{ operation.typePiece }}</p>
              <p><span style="color: #17a191; font-weight: bold;">Montant des frais :</span> {{ operation.mntOperation }}</p>
              <p><span style="color: #17a191; font-weight: bold;">Matricule employé :</span> {{ operation.matriculeEmploye }}</p>
            </div>
            <div>
              <p *ngIf="operation.typeFrais === 'Enregistrement'"><span style="color: #17a191; font-weight: bold;">N° de pièce :</span> {{ operation.numeroPiece }}</p>
              <p><span style="color: #17a191; font-weight: bold;">Date de l'opération :</span> {{ operation.dateValeurCTX }}</p>
              <p><span style="color: #17a191; font-weight: bold;">Matricule du gestionnaire :</span> {{ operation.matriculeAjout }}</p>
              <p><span style="color: #17a191; font-weight: bold;">Date de création :</span> {{ operation.dateCreation }}</p>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" (click)="rejeterOperation(operation.idOperation)">Rejeter</button>
          <button type="button" class="btn btn-success" data-bs-dismiss="modal" (click)="approuverOperation(operation.idOperation)">Approuver</button>
        </div>
      </div>
    </div>
  </div>
</ng-container>
