.notification-button {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    width: 33px;
    height: 10px;
    border: 100px;
  }
  img{
    width: 20px;
    height: 20px;
    float: right;
    
  }

   
  

  button:hover{
    background-color: rgba(18, 206, 118, 0.354);


  }