<h4 class="titre">Cloture du dossier</h4>
<p class="link"><img src="../../assets/maison.png">&nbsp;&nbsp;/&nbsp;&nbsp;recouvrement&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;cloture dossier</p>
<app-recherche 
    (debiteurDataChange)="onDebiteurDataReceived($event)"
    (risques)="onRisquesReceived($event)"
    (numCTX)="onNumCtxReceived($event)">
</app-recherche>

<app-affichage-debiteur [debiteurData]="debiteurData" *ngIf="debiteurData"></app-affichage-debiteur>
<button class="btnRegister" *ngIf="debiteurData && risquesData " (click)="cloture()">Cloture du dossier</button>
<ng-container *ngIf="debiteurData?.soldeRecouvrement!=0 && debiteurData && risquesData && clicked">
    <p style="color: rgb(247, 72, 72); text-align: center ;">Solde recouvrement different de 0 DTN ou il y'a un risque non cloturé! </p>
</ng-container>
