<h4 class="titre">Mon dossier</h4>
<p class="link"><img class="img" src="../../assets/maison.png">&nbsp;&nbsp;/&nbsp;&nbsp;Consulter profile/&nbsp;&nbsp;Mon dossier</p>
<div class="container">
    <h5 class="register-heading"><img src="../../assets/Mon dossier.png " style="width: 40px;float: right;"> Mon Dossier</h5>
        <hr style="color: #17a191;">
        <p class="title">Dossier du débiteur N: 6025</p>
        <div class="donnees">
            <div class="first">
                <ul>
                    <li>Nom: <p class="reponse" style="text-decoration: underline;">Hmidi Rayen</p></li>
                    <ng-container >
                        <li>Date de Transfert: <p class="reponse">25/03/2024</p></li>
                    </ng-container>
                </ul>
            </div>
    
            <div class="second">
                <ul>
                    <li>Solde en instance de recouvrement:<p class="reponse">500 TND</p></li>
                    <li>Etat de Dossier: <p class="reponse">ouvert</p></li>
                </ul>
            </div>
            
        </div>
        <div>
            <hr style="color: #17a191;">
        <p class="title">Liste des risques:<img src="../../assets/risque.png" style="width: 35px;height: auto; float: right;"></p>
        <div>
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">ID</th>
                    <th scope="col">produit</th>
                    <th scope="col">montant Entrée Principale</th>
                    <th scope="col">montant frais</th>
                    <th scope="col">solde Principale Risque</th>
                    <th scope="col">ir</th>
                    <th scope="col">ic</th>
                  </tr>
                </thead>
                <tbody>
                  <ng-container >
                    <tr >
                      <td>1</td>
                      <td>1259 - Credit Directe Depenses Courante</td>
                      <td>700 TND</td>
                      <td>80 TND</td>
                      <td>780 TND</td>
                      <td>30</td>
                      <td>20</td>

                    </tr>
                    <tr >
                        <td>2</td>
                        <td>2416 - Frais a recouvrer</td>
                        <td>6055 TND</td>
                        <td>55 TND</td>
                        <td>2350 TND</td>
                        <td>75 TND</td>
                        <td>20 TND</td>
                      </tr>
                      <tr >
                        <td>3</td>
                        <td>1259 - Credit Directe Depenses Courante</td>
                        <td>585 TND</td>
                        <td>170 TND</td>
                        <td>375 TND</td>
                        <td>45 TND</td>
                        <td>25 TND</td>
                      </tr>
                  </ng-container>
                </tbody>
              </table>
        </div>

        </div>
    </div>
    
