<app-shared-table (rowClicked)="handleRowClick($event)" *ngIf="risquesData" [dataSource]="dataSource" [displayedColumns]="displayedColumns" title="Liste des risques:"></app-shared-table>

<div class="modal fade" id="modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel" style="color: #6C7878;" *ngIf="!isAffectationComponent && !isClotureRisque"><img src="../../assets/forme.png" style="width: 40px;margin-right: 5px;"> Frais Enregistrement</h1>
              <h1 class="modal-title fs-5" id="exampleModalLabel" style="color: #6C7878;"*ngIf="isAffectationComponent=='principale'"><img src="../../assets/forme.png" style="width: 40px;margin-right: 5px;"> Pec Affectation principale</h1>
              <h1 class="modal-title fs-5" id="exampleModalLabel" style="color: #6C7878;"*ngIf="isAffectationComponent=='ir'"><img src="../../assets/forme.png" style="width: 40px;margin-right: 5px;"> Pec Affectation IR</h1>
              <h1 class="modal-title fs-5" id="exampleModalLabel" style="color: #6C7878;"*ngIf="isAffectationComponent=='ic'"><img src="../../assets/forme.png" style="width: 40px;margin-right: 5px;"> Pec Affectation IC</h1>
              <h1 class="modal-title fs-5" id="exampleModalLabel" style="color: #6C7878;"*ngIf="isClotureRisque"><img src="../../assets/cloture.png" style="width: 50px;margin-right: 5px;"> Cloture risque</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
                <div class="modal-body" >
                  <div id="jugement" *ngIf="isDebiteurComponent">
                  <app-affichage-debiteur [debiteurData]="debiteurData" [isModalOpen]="true"></app-affichage-debiteur>
                  <app-detail-risque [risque]="risque"></app-detail-risque>
                  <app-forme-jugement [risque]="risque"  [numCtx]="numCtx"></app-forme-jugement>
                </div>
                <div id="contentieux" *ngIf="isintiesComponent">
                  <app-affichage-debiteur [debiteurData]="debiteurData" [isModalOpen]="true"></app-affichage-debiteur>
                  <app-forme-frais-inities-contentieux [risque]="risque"  [numCtx]="numCtx"></app-forme-frais-inities-contentieux>
                </div>
                <div id="contentieux" *ngIf="isAffectationComponent=='principale'">
                  <app-affichage-debiteur [debiteurData]="debiteurData" [isModalOpen]="true"></app-affichage-debiteur>
                  <app-detail-risque [risque]="risque"></app-detail-risque>
                  <app-forme-affectation-principale [risque]="risque"  [numCtx]="numCtx"></app-forme-affectation-principale>
                </div>
                <div id="contentieux" *ngIf="isAffectationComponent=='ir'">
                  <app-affichage-debiteur [debiteurData]="debiteurData" [isModalOpen]="true"></app-affichage-debiteur>
                  <app-detail-risque [risque]="risque"></app-detail-risque>
                  <app-forme-affectation-ir [risque]="risque"  [numCtx]="numCtx"></app-forme-affectation-ir>
                </div>
                <div id="contentieux" *ngIf="isAffectationComponent=='ic'">
                  <app-affichage-debiteur [debiteurData]="debiteurData" [isModalOpen]="true"></app-affichage-debiteur>
                  <app-detail-risque [risque]="risque"></app-detail-risque>
                  <app-forme-affectation-ic [risque]="risque"  [numCtx]="numCtx"></app-forme-affectation-ic>
                </div>
                <div id="contentieux" *ngIf="isClotureRisque">
                    <app-forme-risque-cloture [numCtx]="numCtx" [risque]="risque"></app-forme-risque-cloture>
                </div>
                </div>
                  <div class="modal-footer">
                  </div>
                </div>
              </div>
            </div>