<app-shared-table (rowClicked)="handleRowClick($event)" *ngIf="risquesData" [dataSource]="dataSource" [displayedColumns]="displayedColumns" title="Liste des risques:"></app-shared-table>

<div class="modal fade" id="modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel" style="color: #6C7878;"><img src="../../assets/forme.png" style="width: 40px;margin-right: 5px;"> Frais Enregistrement</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
                <div class="modal-body">
                  <div id="jugement" *ngIf="isDebiteurComponent">
                  <app-affichage-debiteur [debiteurData]="debiteurData" [isModalOpen]="true"></app-affichage-debiteur>
                  <app-detail-risque [risque]="risque"></app-detail-risque>
                  <app-frais-enregistrement [risque]="risque"  [numCtx]="numCtx"></app-frais-enregistrement>
                </div>
                <div id="contentieux" *ngIf="isintiesComponent">
                  <app-affichage-debiteur [debiteurData]="debiteurData" [isModalOpen]="true"></app-affichage-debiteur>
                  <app-forme-frais-inities-contentieux [risque]="risque"  [numCtx]="numCtx"></app-forme-frais-inities-contentieux>
                </div>
                <div id="contentieux" *ngIf="isAffectationComponent">
                  <app-affichage-debiteur [debiteurData]="debiteurData" [isModalOpen]="true"></app-affichage-debiteur>
                  <app-detail-risque [risque]="risque"></app-detail-risque>
                  <app-forme-affectation [risque]="risque"  [numCtx]="numCtx"></app-forme-affectation>
                </div>
                <div id="contentieux" *ngIf="isClotureRisque">
                  <div *ngIf="risque.stade=='4- Cloturé' && risque.soldeRisque==0 && risque.ic==0 && risque.ir==0">
                      <app-forme-risque-cloture></app-forme-risque-cloture>
                  </div>
                </div>
                </div>
                  <div class="modal-footer">
                  </div>
                </div>
              </div>
            </div>