<div class="container">
    <h3 class="register-heading"> Ajouter un frais</h3>
    <hr style="border-color: #17a191;">
    <form #enregistrementForm="ngForm" (ngSubmit)="submitForm()">
        <div class="content">
            <div class="groupe">
                <div class="form-group" [ngClass]="{'has-error': numCheque.invalid && (numCheque.dirty || numCheque.touched)}">
                    <label for="numCheque">Numéro de Chèque:</label>
                    <input type="text" id="numCheque" class="form-control" name="numéro chèque" required [(ngModel)]="cheque.numCheque" #numCheque="ngModel" pattern="[0-9]{7}">
                    <div *ngIf="numCheque.invalid && (numCheque.dirty || numCheque.touched)" class="text-danger">
                        Le numéro de chèque est requis et doit être composé de 7 chiffres.
                    </div>
                </div>

                <div class="form-group" [ngClass]="{'has-error': montantCheque.invalid && (montantCheque.dirty || montantCheque.touched)}">
                    <label for="montantCheque">Montant cheque (en Dinars):</label>
                    <input type="text" id="montantCheque" class="form-control" name="montant cheque" placeholder="0000.00TDN"  [(ngModel)]="cheque.mntCheque" required pattern="^[0-9]+(\.[0-9]{1,2})?$" #montantCheque="ngModel">
                    <div *ngIf="montantCheque.invalid && (montantCheque.dirty || montantCheque.touched)" class="text-danger">
                        Le montant du chèque doit être un nombre valide (par exemple, 1234.56).
                    </div>
                </div>
            </div>

            <div class="groupe">
                <div class="form-group" [ngClass]="{'has-error': ribDonneur.invalid && (ribDonneur.dirty || ribDonneur.touched)}">
                    <label for="ribDonneur">RIB donneur:</label>
                    <input type="text" id="ribDonneur" placeholder="RIB donneur" class="form-control" name="RIB donneur"  [(ngModel)]="cheque.ribDonneur" required #ribDonneur="ngModel">
                    <div *ngIf="ribDonneur.invalid && (ribDonneur.dirty || ribDonneur.touched)" class="text-danger">
                        Le RIB du donneur est requis.
                    </div>
                </div>
                <div class="form-group" [ngClass]="{'has-error': Agences.invalid && (Agences.dirty || Agences.touched)}">
                    <label for="Agences">Agence ou chèque a été présenté:</label>
                    <select id="Agences" class="form-control input-with-arrow" name="Agence" required   [(ngModel)]="idAgence" #Agences="ngModel">
                        <option value="" disabled selected >Choisir Agence</option>
                        <option *ngFor="let agence of agences" [value]="agence.idAgence">{{ agence.nomAgence }}</option>
                    </select>
                    <div *ngIf="Agences.invalid && (Agences.dirty || Agences.touched)" class="text-danger">
                        Veuillez sélectionner une agence.
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="motif">Tiré:</label>
            <textarea  id="motif" class="form-control" name="nouveau solde" [(ngModel)]="cheque.motif"></textarea>
        </div>
        <button type="submit" class="btn btnRegister" [disabled]="enregistrementForm.invalid">Valider</button>
    </form>
</div>
