<div class="container">
    <form #ajout="ngForm" (ngSubmit)="ajouter()">
        <div class="form-container">
            <div>
                <h3 class="register-heading">Ajouter un Agent</h3>
                <div class="form-group">
                    <label for="nom">Nom *</label>
                    <input type="text" id="nom" class="form-control" placeholder="Nom" name="nom" #nom="ngModel" [(ngModel)]="agent.nom" required/>
                </div>
                <div class="form-group">
                    <label for="prenom">Prénom *</label>
                    <input type="text" id="prenom" class="form-control" placeholder="Prénom" name="prenom" #prenom="ngModel" [(ngModel)]="agent.prenom" required/>
                </div>
                <div class="form-group">
                    <label for="email">Email *</label>
                    <input type="email" id="email" class="form-control" placeholder="Email" name="email" #email="ngModel" [(ngModel)]="agent.email" required/>
                </div>
                <div class="form-group">
                    <label for="numtele">Numéro de téléphone *</label>
                    <input type="text" id="numtele" class="form-control" placeholder="Numéro de téléphone" name="numtele" #numtele="ngModel" [(ngModel)]="agent.numtele" required/>
                </div>
                <div class="form-group">
                    <label for="matricule">Matricule *</label>
                    <input type="text" id="matricule" class="form-control" placeholder="Matricule" name="matricule" #matricule="ngModel" [(ngModel)]="agent.matricule" required/>
                </div>
            </div>

            <div class="second">
                <h5 class="profile-heading">Information Du Compte:</h5>
                <div class="form-group">
                    <label for="username">Username *</label>
                    <input type="text" id="username" class="form-control" placeholder="Username" name="username" #username="ngModel" [(ngModel)]="profile.username" required/>
                </div>
                <div class="form-group">
                    <label for="password">Password *</label>
                    <input type="password" id="password" class="form-control" placeholder="Password" name="password" #password="ngModel" [(ngModel)]="profile.password" required/>
                </div>
                <div class="form-group">
                    <label for="role">Role *</label>
                    <select id="role" class="form-control" name="role" #role="ngModel" [(ngModel)]="profile.role.roleName" required>
                        <option value="" disabled>Select an option</option>
                        <option value="VALIDATEUR">VALIDATEUR</option>
                        <option value="GESTIONNAIRE">GESTIONNAIRE</option>
                    </select>
                </div>
                
                <div class="form-group">
                </div>
                <button type="submit" class="btn btnRegister" >ajouter</button>
            </div>
        </div>
    </form>
</div>
