<div class="container">
    <h3 class="register-heading">Formulaire d'affectation:</h3>
    <hr style="border-color: #17a191;">
    <form #enregistrementForm="ngForm" (ngSubmit)="submitForm()">
        <div class="content">
            <div class="groupe">
                <div class="form-group">
                    <label for="typeRecouvrement">Type Recouvrement:</label>
                    <select id="typeRecouvrement" class="form-control input-with-arrow" name="typeRecouvrement" [(ngModel)]="formeAffectation.typeRecouvrement" required>
                        <option value="Consolidation">Consolidation</option>
                        <option value="SOTUGAR">SOTUGAR</option>
                        <option value="Reaffectation">Reaffectation</option>
                        <option value="Accord Transactional">Accord Transactional</option>
                    </select>
                </div>
                
                <div class="form-group">
                    <label for="montantPrincipale">Montant de l'affectation en principal:</label>
                    <input type="text" id="montantPrincipale" placeholder="0.000 TND" class="form-control" name="montant affectation principal" [(ngModel)]="formeAffectation.montantPrincpale" (input)="updateNouveauSolde()">
                </div>
                <div class="form-group">
                    <label for="montantFrais">Montant des frais:</label>
                    <input type="text" id="montantFrais" placeholder="0.000 TND" class="form-control" name="montantFrais" [(ngModel)]="formeAffectation.montantFrais">
                </div>
            </div>
            <div class="groupe">
                <div class="form-group">
                    <label for="dateValeur">Date valeur:</label>
                    <input type="date" id="dateValeur" class="form-control" name="Date" [(ngModel)]="formeAffectation.dateValeur">
                </div>
                <div class="form-group">
                    <label for="nouveauSolde">Nouveau solde en instance de recouvrement:</label>
                    <input type="text" id="nouveauSolde" class="form-control" name="nouveau solde" [(ngModel)]="formeAffectation.nouveauSolde" disabled>
                </div>
            </div>
        </div>
    
        <button type="submit" class="btn btnRegister">Valider</button>
    </form>
</div>
