<div class="container">
    <p class="title">détails du risque:</p>
    <hr style="color: #17a191;">
    <div class="donnees">
        <div class="first">
            <ul>
                <li><span style="color: black;">Titre de creance:</span></li>
                <li><span style="color: black;">Stage du risque:</span> <span style="color: #00A17D;">  {{risque.stade}}</span></li>
                <li><span style="color: black;">Font du risque:<br></span>
                    <ul style="list-style-type: circle;">
                    <li><span style="color: black;">Code:</span> <span style="color: #00A17D;">  {{risque.produit.codeProduit}}</span></li>
                    <li><span style="color: black;">Libellé:</span> <span style="color: #00A17D;">  {{risque.produit.libelleProduit}}</span></li>
                </ul>
                </li>
            </ul>
        </div>
        <div class="second">
            <ul>
                <li><span style="color: black;">Montant d'entrée en principal:</span> </li>
                <li><span style="color: black;">Montant d'entrée en IC:</span> </li>
                <li><span style="color: black;">Montant d'entrée en II:</span></li>
            </ul>
        </div>
        <div class="third">
            <ul>
                <li><span style="color: black;">Solde principal:</span> <span style="color: #00A17D;">  {{risque.mntEntreePrincipale}} TND</span></li>
                <li><span style="color: black;">Solde des IC:</span> <span style="color: #00A17D;">  {{risque.ic}} TND</span></li>
                <li><span style="color: black;">Solde des IR:</span> <span style="color: #00A17D;">  {{risque.ir}} TND</span></li>
                <li><span style="color: black;">Montant des frais:</span> <span style="color: #00A17D;">  {{risque.mntFrais}} TND</span></li>
            </ul>
        </div>
    </div>
</div>
