<div class="container">
    <p class="title">détails du risque:</p>
    <hr style="color: #17a191;">
    <div class="donnees">
        <div class="first">
            <ul>
                <li>Titre de creance:</li>
                <li>Stage du risque:</li>
                <li>Font du risque:<br>
                    <ul style="list-style-type: circle;">
                    <li>Code:</li>
                    <li>Libellé:</li>
                </ul>
                </li>
            </ul>
        </div>
        <div class="second">
            <ul>
                <li>Montant d'entrée en principal:</li>
                <li>Montant d'entrée en IC:</li>
                <li>Montant d'entrée en II:</li>
            </ul>
        </div>
        <div class="third">
            <ul>
                <li>Solde principal: TND</li>
                <li>Solde des IC: TND</li>
                <li>Solde des IR: TND</li>
                <li>Montant des frais: TND</li>
            </ul>
        </div>
    </div>
</div>