body {
    font-family: Arial, sans-serif;
    color: black;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

.container {
    background: #f8f9fa;
    padding: 20px;
    border-radius: 10px;
    width: 90%;
    border-top: 2px solid #17a191;
    margin: 20px auto;
}

.titre {
    color: #4b5050;
    margin: 20px 55px;
}

.link {
    color: #2c2c2c;
    font-weight: 600;
    font-size: small;
    margin: 10px 0 20px 65px;
}
.imge {
    height: 13px;
    width: auto;
    margin-bottom: 2px;
}
.register-heading {
    color: #17a191;
}
a{
    text-decoration: none;
    color: #17a191;
}
a:hover{
    cursor: pointer;
    color: #29e4cf;
}