<h4 class="titre">Les agences de la <span style="color: #00A886;">Banque Nationale Agricole</span></h4>
<p class="link"><img class="imge" src="../../assets/maison.png">&nbsp;&nbsp;/&nbsp;&nbsp;Contentieux/&nbsp;&nbsp;Agences</p>
<div class="container">
    <h5 class="register-heading">Liste des agences :</h5>
    <hr style="border-color: #17a191;">
    <table class="table">
        <thead>
            <tr >
                <th style="color: #817C7C;font-size: large;">Agence</th>
                <th style="color: #817C7C;font-size: large;">Location</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let agence of agences">
                <td>{{ agence.nomAgence }}</td>
                <td>
                    <a [href]="'https://www.google.com/maps/search/?api=1&query=' + agence.nomAgence + ' BNA'" target="_blank">Localisation</a> &nbsp;<img src="../../assets/local.png" style="width: 30px;">
                </td>
            </tr>
        </tbody>
    </table>
</div>
