.titre{
    margin-left: 55px;
    color: #4b5050;
    margin-top: 5px;
}
.link{
    color: #2c2c2c;
    font-weight: 600;
    font-size: small;
    margin: 10px 0 20px 65px;
}
img{
    height: 13px;
    width: auto;
    margin-bottom: 2px;
}