.container {
    background: #f8f9fa;
    padding: 20px;
    border-radius: 0 0 10px 10px;
    width: 90%;
    border-top:2px solid #17a191 ;
    margin-bottom: 20px ;
}
.title{
    font-weight: 700;
    font-size: large;
    color: #17a191;
}

.btnRegister {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #17a191;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.btnRegister:hover{
    background-color: #89E7D9;
}