<div class="wrapper">
    
    <!-- side bar  -->
        
        <aside id="sidebar" class="js-sidebar" [ngClass]="{ 'collapsed': isSidebarCollapsed }">
            <ul class="sidebar-nav">
                
                <li>
                    <p class="sidebar-link" (click)="toggleSubMenu(0)">Gestion des agents</p>
                    
                    <ul class="sub-menu" *ngIf="isSubMenuVisible(0)">
                
                        <li><a href="#">Ajouter agent</a></li>
                        <li><a href="#">Supprimer agent</a></li>
                        <li><a href="#">Modifier agent</a></li>
                        <li><a href="#">Rechercher agent</a></li>
                
                    </ul>
                
                </li>
                
                <li>
                    <p class="sidebar-link" (click)="toggleSubMenu(1)">Parent Element 2</p>
                 
                    <ul class="sub-menu" *ngIf="isSubMenuVisible(1)">
                 
                        <li><a href="#">Sub-Element 1</a></li>
                        <li><a href="#">Sub-Element 2</a></li>
                        
                    </ul>
            
                </li>
            
            </ul>
        </aside>
    
        <div class="main">
            <nav class="navbar navbar-expand px-3 border-bottom">
                <button class="btn" id="sidebar-toggle" type="button" (click)="toggleSidebar()">
                    <span *ngIf="isSidebarCollapsed" class="navbar-toggler-icon"></span>
                    <svg *ngIf="!isSidebarCollapsed" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-unindent" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M13 8a.5.5 0 0 0-.5-.5H5.707l2.147-2.146a.5.5 0 1 0-.708-.708l-3 3a.5.5 0 0 0 0 .708l3 3a.5.5 0 0 0 .708-.708L5.707 8.5H12.5A.5.5 0 0 0 13 8"/>
                        <path fill-rule="evenodd" d="M3.5 4a.5.5 0 0 0-.5.5v7a.5.5 0 0 0 1 0v-7a.5.5 0 0 0-.5-.5"/>
                    </svg>
                </button>
    
                <div class="ml-auto">
                    <button class="btn logout" (click)="logout()">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-right" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0z"/>
                            <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708z"/>
                        </svg>
                    </button>
                </div>
            </nav>
        </div>
    </div>
    