table {
 
  align-self: center;
  width: 100%;
 }
.button{
  background-color: #17a191;
  border-radius: 10px;
  color: #fff;
}
.button:hover{
  background-color: #89E7D9;
}

.container{
  display: flex; 
  flex-direction: row;
  justify-content: space-between;
  
  width: 100vw;
  margin: 0;
  padding: 0;
  flex-wrap: nowrap;

}
.content {
  margin-left: 20px;
  flex: 1; 
  padding: 20px;
}