app-sidebar {
  display: inline-block; /* Display as an inline block */
  width: auto; /* Set width to auto to take only the needed space */
  vertical-align: top; /* Align to the top */
}
.container {
  display: flex; 
  align-items: first baseline;
  width: 100%;/* Use flexbox layout */
  margin: 0;
  padding: 0;
  flex-wrap: wrap;


}

table {
  flex-grow: 1; /* Allow the table to grow and take remaining space */
  margin-left: 20px; /* Add margin for spacing */
  align-self: center;
  width: 100px;
 
}
.button{
  background-color: #17a191;
  border-radius: 10px;
  color: #fff;
}
.button:hover{
  background-color: #89E7D9;
}