<div class="container">
    <h3 class="register-heading"><img src="../../assets/forme.png" style="width: 40px;margin-right: 5px;"> Ajouter un frais</h3>
    <hr style="border-color: #17a191;">
    <form #enregistrementForm="ngForm" (ngSubmit)="submitForm()">
        <div class="content">
            <!-- TYPE DE FRAIS  -->
            <div class="groupe">
                <div class="form-group">
                    <label for="typeFrais">Type des frais:</label>
                    <select id="typeFrais" class="form-control input-with-arrow" name="typeFrais" [(ngModel)]="fraisEnregistrement.typeFrais" required>
                        <option value="" disabled>Choisir type des frais</option>
                        <option value="Enregistrement" selected>Enregistrement</option>
                        <option value="Timbrage">Timbrage</option>
                        <option value="Divers">Divers</option>
                        <option value="Auxiliaire">Auxiliaire</option>
                    </select>
                </div>
            <!-- /TYPE DE FRAIS -->
            <!-- TYPE PIECE OU TYPE AUXILIAIRE -->
                <div class="form-group" *ngIf="fraisEnregistrement.typeFrais!='Auxiliaire'">
                    <label for="typePiece" >Type de pièce:</label>
                    <select *ngIf="fraisEnregistrement.typeFrais=='Enregistrement'|| fraisEnregistrement.typeFrais==''" id="typePiece" class="form-control input-with-arrow" name="typePiece" [(ngModel)]="fraisEnregistrement.typePiece" required>
                        <option value="" disabled selected>Type Pièce</option>
                        <option value="effet">Effet</option>
                        <option value="actionCaution">Action de caution</option>
                        <option value="jugement">Jugement</option>
                    </select>
                    <select *ngIf="fraisEnregistrement.typeFrais=='Timbrage'" id="typeAuxiliaire" class="form-control input-with-arrow" name="typeAuxiliaire" [(ngModel)]="fraisEnregistrement.typePiece" required>
                        <option value="" disabled selected>Type Pièce</option>
                        <option value="effet">Effet</option>
                        <option value="jugement">Jugement</option>
                    </select>
                    <select *ngIf="fraisEnregistrement.typeFrais=='Divers'" id="typeAuxiliaire" class="form-control input-with-arrow" name="typeAuxiliaire" [(ngModel)]="fraisEnregistrement.typePiece" required>
                        <option value="" disabled selected>Type de pièce:</option>
                        <option *ngFor="let diversPiece of diversPieces$ | async" [value]="diversPiece.typePiece">{{diversPiece.typePiece}}</option>
                        <option value="Autres">Autres</option>
                    </select>
                    
                </div>
                <div class="form-group" *ngIf="fraisEnregistrement.typeFrais=='Auxiliaire'">
                    <label for="typeAuxiliaire">Type de l'auxiliaire:</label>
                    <select id="typeAuxiliaire" class="form-control input-with-arrow" name="typeAuxiliaire" [(ngModel)]="fraisEnregistrement.typeAuxiliaire" required>
                        <option value="" disabled selected>Type Auxiliaire</option>
                        <option value="Avocat">Avocat</option>
                        <option value="Huissier">Huissier</option>
                        <option value="Expert">Expert</option>
                    </select>
                </div>
                <!-- /TYPE PIECE OU TYPE AUXILIAIRE -->
                <div class="form-group " *ngIf="fraisEnregistrement.typeFrais=='Auxiliaire' && fraisEnregistrement.natureAuxiliaire=='Conventionné'">
                    <label for="auxiliaire">Auxiliaire:</label>
                    <select id="auxiliaire" class="form-control input-with-arrow redBorder" name="auxiliaire" [(ngModel)]="fraisEnregistrement.auxiliaire">
                        <option value="" disabled>choisir un auxiliaire</option>
                        <ng-container *ngIf="fraisEnregistrement.typeAuxiliaire=='Avocat'">
                          <option *ngFor="let avocat of avocats" [value]="avocat.nom + ',' + avocat.prenom">{{ avocat.nom }} {{ avocat.prenom }}</option>
                        </ng-container>
                        <ng-container *ngIf="fraisEnregistrement.typeAuxiliaire=='Huissier'">
                          <option *ngFor="let huissier of huissiers" [value]="huissier.nom + ',' + huissier.prenom">{{ huissier.nom }} {{ huissier.prenom }}</option>
                        </ng-container>
                        <ng-container *ngIf="fraisEnregistrement.typeAuxiliaire=='Expert'">
                          <option *ngFor="let expert of experts" [value]="expert.nom + ',' + expert.prenom">{{ expert.nom }} {{ expert.prenom }}</option>
                        </ng-container>
                    </select>
                    
                </div>
                <div class="form-group" *ngIf="fraisEnregistrement.typeFrais=='Auxiliaire' && fraisEnregistrement.natureAuxiliaire=='Non Conventionné'">
                    <label for="cinAuxiliaire">Cin de l'auxiliaire:</label>
                    <input type="text" id="cinAuxiliaire" class="form-control " placeholder="Cin de l'auxiliaire" name="cinAuxiliaire" [(ngModel)]="fraisEnregistrement.cinAuxiliaire">
                </div>
                <div class="form-group " *ngIf="fraisEnregistrement.typeFrais=='Auxiliaire' && fraisEnregistrement.natureAuxiliaire=='Non Conventionné'">
                    <label for="nomAuxiliaire">Nom de l'auxiliaire:</label>
                    <input type="text" id="nomAuxiliaire" class="form-control redBorder" placeholder="Nom de l'auxiliaire" name="nomAuxiliaire" [(ngModel)]="fraisEnregistrement.nomAuxiliaire">
                </div>
                <div class="form-group" *ngIf="fraisEnregistrement.typeFrais!='Auxiliaire'">
                    <label for="montantFrais">Montant des frais (en Dinars):</label>
                    <input type="text" id="montantFrais" class=" form-control" name="montantFrais" placeholder="0000.00TDN" [(ngModel)]="fraisEnregistrement.montantFrais">
                </div>
                <div class="form-group " *ngIf="fraisEnregistrement.typeFrais=='Auxiliaire'">
                    <label for="numeroAffaire">Numéro de l'affaire:</label>
                    <input type="text" id="numeroAffaire" placeholder="Numéro Affaire" class="form-control redBorder" name="numeroAffaire" [(ngModel)]="fraisEnregistrement.numeroAffaire">
                </div>
                <div class="form-group " *ngIf="fraisEnregistrement.typeFrais=='Auxiliaire'">
                    <label for="montantHonoraire">Montant des honoraires (En Dinars):</label>
                    <input type="text" id="montantHonoraire" class="form-control" placeholder="Montant des honoraires" name="montantHonoraire" [(ngModel)]="fraisEnregistrement.montantHonoraire">
                </div>
                <div class="form-group ">
                    <label for="typePaiement">Type de Paiement:</label>
                    <select id="typePaiement" class="form-control input-with-arrow redBorder" name="typePaiement" [(ngModel)]="fraisEnregistrement.typePaiment" required>
                        <option value="" disabled>Select an option</option>
                        <option value="Chèque BCT">Chèque BCT</option>
                        <option value="Virement Tétécomponsé">Virement Télécomponsé</option>
                    </select>
                </div>
                <div class="form-group " *ngIf="fraisEnregistrement.typePaiment==='Virement Tétécomponsé'">
                    <label for="ribBeneficiaire">RIB du bénéficiaire:</label>
                    <input type="text" id="ribBeneficiaire" class="form-control redBorder" name="ribBeneficiare" placeholder="RIB de bénéficiaire"[(ngModel)]="fraisEnregistrement.RIB" >
                </div>
                
            </div>


            <!-- right column -->
            
            <div class="groupe">
                <div class="form-group " *ngIf="fraisEnregistrement.typeFrais=='Enregistrement'">
                    <label for="numeroPiece">N° Pièce:</label>
                    <input type="text" id="numeroPiece" placeholder="N° Pièce" class="form-control" name="numeroPiece" [(ngModel)]="fraisEnregistrement.numeroPiece">
                </div>
                <div class="form-group " *ngIf="fraisEnregistrement.typeFrais=='Divers' && fraisEnregistrement.typePiece=='Autres'">
                    <label for="autre">Autre type de pièce:</label>
                    <textarea id="autre" class="form-control redBorder" name="autre" placeholder="Autre type de pièce" [(ngModel)]="fraisEnregistrement.autre" required></textarea>
                    </div>
                    <div style="margin-bottom: 100px;">
                        <div class="form-group "  *ngIf="fraisEnregistrement.typeFrais=='Auxiliaire'">
                            <label for="natureAuxiliaire">Nature de l'auxiliaire:</label>
                            <mat-radio-group id="natureAuxiliaire" class="form-control" name="natureAuxiliaire" [(ngModel)]="fraisEnregistrement.natureAuxiliaire" style="border: none; background-color: rgba(240, 248, 255, 0);">
                                <mat-radio-button value="Conventionné">Conventionné</mat-radio-button>
                                <mat-radio-button value="Non Conventionné">Non Conventionné</mat-radio-button>
                            </mat-radio-group>
                        </div>
                        <div *ngIf="fraisEnregistrement.natureAuxiliaire === 'Non Conventionné' && fraisEnregistrement.typeFrais=='Auxiliaire'">
                            <div class="form-group ">
                                <label for="RneAuxiliaire">RNE de l'auxiliaire:</label>
                                <input type="text" id="RneAuxiliaire" class="form-control" name="RneAuxiliaire" [(ngModel)]="fraisEnregistrement.RneAuxiliaire">
                            </div>
                            <div class="form-group ">
                                <label for="prenomAuxiliaire">Prénom de l'auxiliaire:</label>
                                <input type="text" id="prenomAuxiliaire" class="form-control redBorder" name="prenomAuxiliaire" [(ngModel)]="fraisEnregistrement.prenomAuxiliaire">
                            </div>
                        </div>
                    </div>
                    
                    
                    <div >
                        <div class="form-group  ">
                            <label for="dateOperation">Date de l'opération:</label>
                            <input type="date" id="dateOperation" class="form-control" name="dateOperation" [(ngModel)]="fraisEnregistrement.dateOperation">
                        </div>
                        <div class="form-group" *ngIf="fraisEnregistrement.typeFrais=='Auxiliaire'">
                            <label for="montantFrais">Montant des frais (en Dinars):</label>
                            <input type="text" id="montantFrais" class=" form-control" name="montantFrais" placeholder="0000.00TDN" [(ngModel)]="fraisEnregistrement.montantFrais">
                        </div>
                        <div class="form-group " *ngIf="(fraisEnregistrement.typeFrais==='Auxiliaire' && fraisEnregistrement.typePaiment==='Chèque BCT') || fraisEnregistrement.typeFrais!='Auxiliaire'">
                            <label for="nomBeneficiaire">Nom du bénéficiaire:</label>
                            <input type="text" id="nomBeneficiaire" class="form-control redBorder" name="nomBeneficiare" placeholder="Nom de bénéficiaire" [(ngModel)]="fraisEnregistrement.nomBeneficiaire" >
                        </div>
                    </div>
                
            </div>
        </div>
        <button type="submit" class="btn btnRegister">Valider</button>
    </form>
</div>
