<div class="container">
    <h3 class="register-heading">Frais Enregistrement</h3>
    <hr style="border-color: #17a191;">
    <form #enregistrementForm="ngForm" (ngSubmit)="submitForm()">
        <div class="content">
            <div class="groupe">
                <div class="form-group space1">
                    <label for="montantFrais">Montant Frais:</label>
                    <input type="text" id="montantFrais" class="form-control" placeholder="Montant Frais" name="montantFrais" [(ngModel)]="fraisEnregistrement.montantFrais">
                </div>
                <div class="form-group space2">
                    <label for="numeroRouge">Numéro Rouge:</label>
                    <input type="text" id="numeroRouge" placeholder="Numéro Rouge" class="form-control" name="numeroRouge" [(ngModel)]="fraisEnregistrement.numeroRouge">
                </div>
            </div>
            <div class="groupe ">
                <div class="form-group space1 ">
                    <label for="numeroAffaire">Numéro Affaire:</label>
                    <input type="text" id="numeroAffaire" placeholder="Numéro Affaire" class="form-control" name="numeroAffaire" [(ngModel)]="fraisEnregistrement.numeroAffaire">
                </div>
                <div class="form-group space2 ">
                    <label for="dateDemandeJugement">Date demande de jugement:</label>
                    <input type="date" id="dateDemandeJugement" class="form-control" name="dateDemandeJugement" [(ngModel)]="fraisEnregistrement.dateDemandeJugement">
                </div>
            </div>
        </div>
            <div class="form-group ">
                <label for="recetteFinance">Recette Finance:</label>
                <textarea id="recetteFinance" placeholder="Recette Finance" class="form-control resizable"  name="recetteFinance" [(ngModel)]="fraisEnregistrement.recetteFinance"></textarea>
            </div>
        <button type="submit" class="btn btnRegister">Valider</button>
    </form>
</div>
