<h4 class="titre">Cloture du risque</h4>
<p class="link"><img src="../../assets/maison.png">&nbsp;&nbsp;/&nbsp;&nbsp;recouvrement&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;cloture risqu</p>
<app-recherche [isClotureRisque]="true"
(debiteurDataChange)="onDebiteurDataReceived($event)"
(risques)="onRisquesReceived($event)"
(numCTX)="onNumCtxReceived($event)">
</app-recherche>

<app-affichage-debiteur [debiteurData]="debiteurData" *ngIf="debiteurData"></app-affichage-debiteur>

<app-affichage-risque [risquesData]="risquesData" [isClotureRisque]="isClotureRisqueComponent" [debiteurData]="debiteurData" [numCtx]="numCtx" *ngIf="debiteurData && risquesData "></app-affichage-risque>
